<form (ngSubmit)= "onSubmitForm(form)" #form="ngForm">
    <p>
        <label for="name">Nome Completo:</label>
        <input type="text" name="name" id="name" #nameCtrl="ngModel" ngModel required>
        <span *ngIf="nameCtrl.status === 'INVALID' && nameCtrl.touched">Campo Obrigatório</span>
    </p>

    <p>
        <label for="name">Email:</label>
        <input type="text" name="email" id="email" ngModel>
    </p>

    <p>
        <label for="name">Endereço:</label>
        <input type="text" name="adress" id="adress" ngModel>
    </p>

    <p>
        <button [disabled]="form.status === 'INVALID'">Cadastrar</button>
    </p>
</form>
